body {
    background-color: #EC8A1F;
    margin: 0;
    padding: 0;
}



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FF921C;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.nav_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    list-style: none;
    position: relative;
}

.a_nav {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: inherit;
    padding: 10px;
}

.a_nav:hover {
    background-color: #FFEAA7;
    border-radius: 10px;
}

.top_avdelning {
    display: flex;
    flex-direction: column;
    background-image: url(./img/MaträttDarkDesign\ \(2\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 99%;
    justify-content: center;
}

.mål_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 100px;
}

.mitten_avdelning {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_div {
    justify-self: center;
    display: flex;
    flex-direction: column;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    justify-content: center;
}

.ingredienser_rubrik {
    font-weight: bold;
}

.kyckling_bild {
    display: flex;
    border: 2px #FFEAA7 solid;
    width: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 20px;
    width: 90%;
    height: 80%;
    min-width: 200px;
}

.botten_avdelning {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 40px;
}

.länkar {
    display: flex;
    flex-direction: column;
    justify-self: left;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    align-items: center;
    width: 350px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    margin-top: 20px;
    height: 30%;
}

.instruktioner {
    display: flex;
    flex-direction: column;
    justify-self: right;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    width: 500px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    margin-top: 20px;
}

.centrerad_rubrik {
    text-align: center;
    font-weight: bold;
}

.italic_bold_rubrik {
    font-weight: bold;
    font-style: italic;
}

.Länk {
    margin-top: 10px;
    color: white;
}

@media screen and (min-width: 100px) and (max-width: 700px)
{
    .mål_div{
        padding: 10px;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-content: left;
        height: fit-content;
        padding: 5px;
    }
    .nav_ul{
        display: flex;
        flex-direction: row;
        padding: 5px;
    }
    body{
        display: flex;
        flex-direction: column;
    }
    .botten_avdelning{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    .mitten_avdelning{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .instruktioner{
        width: 300px;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .länkar{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px)
{
    body{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1{
        font-size: 30px;
    }
 
    .nav_ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }
    .a_nav{
        display: flex;
        margin-top: 5px;
        font-size: 20px;
    }
    p{
        font-size: 25px;
    }
    li{
        font-size: 20px;
    }
    .mål_div{
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        padding-left: 10px;
    }
    .mitten_avdelning{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botten_avdelning{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box_div{
        width: 500px;
        height: 250px;
    }
    .Länk{
        font-size: 20px;
    }
}