body {
    background-color: #EC8A1F;
    margin: 0;
    padding: 0;
}



nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FF921C;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.nav_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    list-style: none;
    position: relative;
}

.a_nav {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: inherit;
    padding: 10px;
}

.a_nav:hover {
    background-color: #FFEAA7;
    border-radius: 10px;
}

.avdelning_1 {
    display: flex;
    flex-direction: column;
    background-image: url(./img/MaträttDarkDesign.png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    justify-content: center;
}

.mål_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 100px;
}

.avdelning_2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box_div {
    justify-self: center;
    display: flex;
    flex-direction: column;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    justify-content: center;
}

.ingredienser_rubrik {
    font-weight: bold;
}

.kyckling_bild {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 2px #FFEAA7 solid;
    width: 100%;
    align-self: center;
    border-radius: 20px;
}

.sista_avdelning {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 40px;
}

.länkar {
    display: flex;
    flex-direction: column;
    justify-self: left;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    justify-content: center;
    margin-top: 20px;
    height: 50%;
}

.instruktioner {
    display: flex;
    flex-direction: column;
    justify-self: right;
    border: 2px #FFEAA7 solid;
    border-radius: 20px;
    width: 500px;
    background-color: #ECA427;
    padding: 20px;
    color: white;
    margin-top: 20px;
}

.centrerad_rubrik {
    text-align: center;
    font-weight: bold;
}

.italic_bold_rubrik {
    font-weight: bold;
    font-style: italic;
}